<div class="container-big-card">
    <div class="photo">
        <img src="https://i.pinimg.com/564x/45/e4/ab/45e4ab405015d0d121f2941cd0b606e7.jpg" alt="" >
    </div>
    <div class="title">
        <a href="#">
            <h1>Lorem ipsum, felis dapibus. </h1>
        </a>
    </div>
    <div class="description">
        <p>
            <a href="#">
                Lorem ipsum aenean malesuada urna, enim consectetur platea. 
                Nisi ullamcorper erat lacus justo etiam ipsum malesuada scelerisque, 
                eros nisi etiam arcu rhoncus dictumst.
            </a>
        </p>
    </div>
</div>