
<app-menu-title></app-menu-title>
<div class="container-articles">

    <div class="articles-main">
        <app-big-card  id="1"
        photoCover="https://i.pinimg.com/564x/45/e4/ab/45e4ab405015d0d121f2941cd0b606e7.jpg"
        cardTitle="GATO PENSA SOBRE A VIDA.QUAL SERÁ A CONCLUSÃO?" 
        cardDescription="Será que a vida e so sache e arranha o sofa? Qual será a proxima planta a ser destruida">
        </app-big-card>
    </div>

    <div class="articles others">
        <app-small-card id="2"
        photoCover="https://i.pinimg.com/236x/ce/52/dc/ce52dc35b8f45ac6375170994814dc88.jpg" 
        cardTitle="Gatito desmaia de tanto estudar">
        </app-small-card>

        <app-small-card id="3"
        photoCover="https://i.pinimg.com/236x/cd/54/ff/cd54ff83ce8363f077b5f5be02b4e70e.jpg"
        cardTitle="Veja o novo filme romantico que esta deixando os gatitos apaixonados">
        </app-small-card>

        <app-small-card id="4"
        photoCover="https://i.pinimg.com/236x/7b/71/67/7b7167f605c56bce3f85d66e37f844cb.jpg"
        cardTitle="Veja como investir seu dinheiro com o gatito investidor">
        </app-small-card>
    </div>
</div>